#Crear un pipeline que sume dos numeros dados por variables de entorno en Github y
#que muestre un mensaje dependiendo de si el resultado de la suma mayor a 10 o menor/igual a 10.

#La ejecucion fue exitosa en Github actions
#El workflow tiene un nombre
#El workflow usa el runner de ubuntu-latest
#El workflow usa el evento push
#El workflow tiene en el desencadenador el filtro de rama para cualquier nombre que empiece por test/
#El workflow usa las variables de entorno del repositorio
#El workflow usa dos jobs y un step en cada job
#Los steps y los jobs tienen un nombre
#El workflow es claro, entendible y efectivo

name: ejericio-capitulo-formacion

#EVENTO
on:
  push:
    branches:
      - test/**

#JOBS
jobs:

  #JOB 1
  suma:
    name: sumar numeros
    runs-on: ubuntu-latest #RUNNER
    outputs:
      resultado: ${{ steps.suma.outputs.resultado }} #OUTPUT PARA COMPARTIR EL VALOR

    #STEP 1
    steps:
      - name: imprimir resultado de la Suma
        id: suma
        run: | #SHELL
          echo "numero 1: ${{ vars.A }}"
          echo "numero 2: ${{ vars.B }}"
          RESULTADO=$((${{ vars.A }} + ${{ vars.B }}))
          echo "resultado=$RESULTADO" >> "$GITHUB_OUTPUT"
          echo "resultado de la suma es: $RESULTADO"

  #JOB 2
  validador:
    name: validacion resultado suma
    runs-on: ubuntu-latest #RUNNER
    needs: suma #DEPENDENCIA JOB 1

    #STEP 1
    steps:
      - name: verificar si es mayor o menor/igual
        run: | #SHELL
          if [ ${{ needs.suma.outputs.resultado }} -gt 10 ]; then
            echo "el resultado de la suma de ${{ vars.A }} + ${{ vars.B }} es ${{ needs.suma.outputs.resultado }}, por lo tanto, es mayor que 10."
          else
            echo "el resultado de la suma de ${{ vars.A }} + ${{ vars.B }} es ${{ needs.suma.outputs.resultado }}, por lo tanto, es menor/igual que 10."
          fi