name: monitor-production

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      execution:
        description: "Tipo de ejecución"
        required: true
        type: choice
        options:
          - Post-despliegue
          - Validación ambiente
      id:
        description: "ID del release (Post-despliegue)"
        required: false
        default: 'NA'
        type: string
      date:
        description: "Fecha de la ejecución (Validación ambiente)"
        required: false
        default: 'NA'
        type: string
      objective:
        description: "Objetivo de la ejecución (Validación ambiente)"
        required: false
        default: 'NA'
        type: string
  schedule:
    - cron: "0 21 * * Tue,Wed,Thu"

jobs:
  monitoring-execution:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Java and Gradle
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Clean and prepare environment
        run: gradle clean clearReports

      - name: Run Serenity tests
        id: run-tests
        run: |
          gradle test --tests TestRunnerProduction || echo "tests_failed=true" >> $GITHUB_ENV

      - name: Generate reports
        run: gradle reports

      - name: Set current date and time
        id: date
        run: echo "current_date=$(date +'%Y-%m-%d_%H-%M-%S')" >> $GITHUB_ENV

      - name: Upload Serenity report for sharing
        uses: actions/upload-artifact@v4
        with:
          name: serenity-report-${{ env.current_date }}
          path: target/site/serenity/serenity-summary.html

      - name: Calculate file size in bytes
        id: calculate-size
        run: |
          FILE="target/site/serenity/serenity-summary.html"
          if [ -f "$FILE" ]; then
            SIZE=$(stat --format=%s "$FILE")
            echo "size=$SIZE" >> $GITHUB_ENV
          else
            echo "Error: File not found: $FILE"
            exit 1
          fi

      - name: Get Slack upload URL
        run: |
          response=$(curl -s -X POST \
            -H "Authorization: Bearer ${{ secrets.SLACK_TOKEN_BOTS }}" \
            -H "Content-Type: application/x-www-form-urlencoded; charset=utf-8" \
            -d "filename=target/site/serenity/serenity-summary.html" \
            -d "length=${{ env.size }}" \
            https://slack.com/api/files.getUploadURLExternal)
          
          echo "$response"
          
          upload_url=$(echo "$response" | jq -r '.upload_url')
          if [ "$upload_url" == "null" ] || [ -z "$upload_url" ]; then
            echo "Error: Failed to get Slack upload URL"
            exit 1
          fi
          echo "upload_url=$upload_url" >> $GITHUB_ENV
          
          file_id=$(echo "$response" | jq -r '.file_id')
          if [ "$file_id" == "null" ] || [ -z "$file_id" ]; then
            echo "Error: Could not get file ID"
            exit 1
          fi
          echo "file_id=$file_id" >> $GITHUB_ENV

      - name: Upload file to Slack
        run: |
          response_upload=$(curl -s -X POST \
            -H "Content-Type: text/html" \
            --data-binary @target/site/serenity/serenity-summary.html \
            "${{ env.upload_url }}")
          echo "respuesta: $response_upload"
          id=$(echo $response_upload | awk -F ' - ' '{print $2}')
          echo "id: $id"
          echo "id=$id" >> $GITHUB_ENV

      - name: Complete Slack upload
        run: |
          response_url=$(curl -s -X POST \
            -H "Authorization: Bearer ${{ secrets.SLACK_TOKEN_BOTS }}" \
            -H "Content-Type: application/json; charset=utf-8" \
            -d '{"files":[{"id":"'"${{ env.file_id }}"'"}]}' \
            https://slack.com/api/files.completeUploadExternal)
          
          url_private=$(echo "$response_url" | jq -r '.files[0].url_private')
          if [ "$url_private" == "null" ] || [ -z "$url_private" ]; then
            echo "Error: Failed to get full upload URL"
            exit 1
          fi
          echo "url_private=$url_private" >> $GITHUB_ENV

      - name: Notify Slack
        run: |
          if [ "${{ env.tests_failed }}" == "true" ]; then
            curl -X POST -H 'Content-type: application/json' \
            --data $'{
              "text": ":rotating_light:¡Atención equipo!:rotating_light:\n\nParece que algo no anda bien con los widgets/banners :scream:. ¡Se presentó un pequeño fallo! :hammer_and_wrench:\n\n:mag: Revisa por favor para que todo vuelva a la normalidad. ¡Gracias por estar al tanto! :spock-hand:\n\n\n\n:warning:Revisa el reporte de pruebas aquí: '${{ env.url_private }}'. No olvides instalar ModHeader y agregar tu token de Slack.:warning:\n\n\n\n:cat:",
              "channel": "#automatizacion-pruebas-prd"
            }' ${{ secrets.SLACK_WEBHOOK_URL }}
          else
            curl -X POST -H 'Content-type: application/json' \
            --data $'{
              "text": ":confetti_ball: ¡Éxito total, equipo! :confetti_ball:\n\nLas pruebas realizadas en producción a los aliados salieron de maravilla :sparkles: :muscle:.\n\nTodo está funcionando como debería. ¡Gran trabajo! :tada: Sigamos brillando. :rocket:\n\n\n:warning:Revisa el reporte de pruebas aquí: '${{ env.url_private }}'. No olvides instalar ModHeader y agregar tu token de Slack.:warning:\n\n\n\n:cat:",
              "channel": "#automatizacion-pruebas-prd"
            }' ${{ secrets.SLACK_WEBHOOK_URL }}
          fi
