name: suma-numeros

on:
  push:
    branches:
      - test/pipeline

jobs:
  job1:
    name: suma numeros
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.resultado.outputs.test }}
    steps:
      - name: resultado
        id: resultado
        run: |
          echo "SUMA=$((${{ vars.A }} + ${{ vars.B }}))"
          echo "test=SUMA" >> "$GITHUB_OUTPUT"
          echo "El resultado de la suma es $SUMA"

  job2:
    name: ejecucion exitosa
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - name: verificar el workflow
        run: |
          if [ ${{ needs.resultado.outputs.test }} -gt 10 ]; then
            echo " ${{ needs.resultado.outputs.test }} el resultado de la suma es mayor a 10"
          else
            echo "el resultado de la suma es menor o igual a 10"